---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import Philosophy from '../components/Philosophy.astro';
import History from '../components/History.astro';
import Curriculum from '../components/Curriculum.astro';
import Quotes from '../components/Quotes.astro';
import Panelladikes from '../components/Panelladikes.astro';
import News from '../components/News.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Stats />
    <Philosophy />
    <History />
    <Curriculum />
    <Quotes />
    <Panelladikes />
    <News />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
